  <div class="footer">
    <div class="container">
      <p>Built By abcdave88</p>
      <div id="footer-images">
        <img src="./assets/award-a.jpg" class="award">
        <img src="./assets/award-b.jpg" class="award">
        <img src="./assets/LinkedIn_logo_initials.png" id="linkedin">
      </div>
    </div>
  </div>