  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">JSS</a>
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about">About</a></li>
          <li><a href="">Services</a></li>
          <li><a href="">Sectors</a></li>
          <li><a href="">Contact</a></li>
          </ul>
      </div>
    </div>
  </nav>