
body{
 font-family: 'Lato', sans-serif; 
}

.navbar{
  height: 10%;
  background-color: white;
}

/*
.container{
  width: 100%;
}*/

.jumbotron {
  width:100%;
}

.jumbotron img{
  position:absolute;
  top:0;
  left:0; 
  width:100%;
  height: 60%;
}

#contain-h{
  top: 15%;
  left: 2%;
  position: absolute;
  color: white;
  z-index: 1;
  font-size: 30px;
  letter-spacing: 5px;
  text-shadow: 2px 2px #000;
}

#wrap{
  position: absolute;
  text-align: center;
  display: block;
  top: 70%;
}

.box{
  position:relative;
  display: inline-block;
  height:31%;
  width:31%;
  /*border:1px solid black;*/
  padding: 1%;
  margin-right:2%;
  /*margin-top: 25%;*/
  color: white;
  margin-bottom: 20px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.box-contain{
  /*margin-top: 10%;*/
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-right: 0%;
}

.box h3{
  letter-spacing: 5px;
  text-shadow: 2px 2px rgba(100, 100, 94, 1);
}

#about{
  background-color: rgba(154, 97, 255, 0.7);
}

#services{
  background-color: rgba(96, 208, 238, 0.7);
}

#sectors{
  background-color: rgba(154, 226, 0, 0.7);
}

.footer {
  /*border-top: 2px solid #9d9d9d;*/
  border-top: 2px solid black;
  position: absolute;
  top: 130%;  /* this was 150 */
  width: 100%;
  height: 66px;
  /*background-color: rgba(96, 208, 238, 0.7);*/
}

.footer p{
  position: relative;
  margin-top:3%;
  display: inline-block;
  color: #9d9d9d;
}

#footer-images{
  display: inline;
  float: right;
}

#footer-images img{
  margin-right: 15px;
  background-color: rgba(96, 208, 238, 0.7);
}

#linkedin{
  max-width: 64px;
  max-height: 64px;
}

.content-contain{
  margin-top: 10%;
  /*border: 1px solid black;*/
  width: 10   0%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.col{
  /*border: 1px solid black;*/
  padding: 10px;
  width: 33%;
  display: inline-block;
  text-align: left;
  border-right: 2px solid rgba(21, 91, 170, 1);
}
.col h2{
  color: rgba(21, 91, 170, 1);
  letter-spacing: 5px;
}

.col2{
  vertical-align: top;
}

.col3{
  vertical-align: top;
}
