<!DOCTYPE html>
<html lang="en">
<head>
 <% include ../partials/head %>
</head>
<body>
  <% include ../partials/header %>
  <div class="container">
    <div class="content-contain">
      <div class="contact">
        <div class="contact-text">
        <h2>Contact Us</h2>
        <p>If you would like to find out more about sectors we work in<br> the services we provide or have any general inquires <br>please get in touch via email or call our offices.<br>
        TEL: 0000000000000<br>
        Email: <a href="mailto:info@jss.com">info@jss.com</a></p>
        </div>
        <img src="/assets/contact_png.png" alt="">
      </div>
    </div>
  </div>
  
  <% include ../partials/footer %>
</body>
</html>