<!DOCTYPE html>
<html lang="en">
<head>
 <% include ../partials/head %>
</head>
<body>
  <% include ../partials/header %>
  <div class="container">
    <div class="content-contain">
      <div class="contact">
        <h2>Contact Us</h2>
        <p>If you would like to find out more about sectors we work in, the services we provide or have any general inquires please get in touch via email or call our offices. </p>
        <p>TEL: 0000000000000</p>
        <p>Email: <a href="mailto:info@jss.com">info@jss.com</a></p>
      </div>
    </div>
  </div>
  
  <% include ../partials/footer %>
</body>
</html>