<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

<!--   <div id="header">
    <h1>JSS</h1>
    <div id="nav-contain">
      <ul>
        <li><a href="">About</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Sectors</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
  </div> -->

  <% include ../partials/header %>


  <div class="container">
    <div class="jumbotron">
     <div class="container-fluid">
        <div class="jumbo1">
          <h2 id="contain-h">Something About Procurement</h2>
          <img src="http://arpadlukacs.com/wp-content/uploads/2012/09/975.-London-Skyline-from-Gypsy-Hill.jpg" id="jumbo-img">
<!--         <div class="jumbo2">
          <h2 id="contain-h">Something About Money And How We Can Save You A Shit Tonne</h2>
          <img src="https://upload.wikimedia.org/wikipedia/commons/f/ff/Cabot_Square,_Canary_Wharf_-_June_2008.jpg" alt="">
        </div> -->
<!--         <div class="jumbo3">
          <h2 id="contain-h">Something About Owning The Shit Out Of Public & Private Sectors</h2>
          <img src="http://www.gocre8.co.uk/wp-content/uploads/2015/03/NHS-Building-site-banners.png" alt="">
        </div> -->
      </div>
    </div>
  </div>
  </div>

  <div id="wrap">
    <div class="container">
    <div class="box-contain">
      <div class="box" id="about">
        <h3>About</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem saepe tenetur nostrum in eveniet blanditiis aperiam repudiandae, ex, harum, dolores quasi aspernatur. Accusantium iure dolor tempore, quisquam nam modi, magni.</p>
        <p><a href="/about">Read More</a></p>
      </div>

      <div class="box" id="services">
        <h3>Services</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem saepe tenetur nostrum in eveniet blanditiis aperiam repudiandae, ex, harum, dolores quasi aspernatur. Accusantium iure dolor tempore, quisquam nam modi, magni.</p>
        <p><a href="/services">Read More</a></p>
      </div>

      <div class="box" id="sectors">
        <h3>Sectors</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem saepe tenetur nostrum in eveniet blanditiis aperiam repudiandae, ex, harum, dolores quasi aspernatur. Accusantium iure dolor tempore, quisquam nam modi, magni.</p>
        <p><a href="/sectors">Read More</a></p>
      </div>
      </div>
    </div>
    </div> <!--end of #wrap-->
    
    <% include ../partials/footer %>


</body>
</html>