<!DOCTYPE html>
<html lang="en">
<head>
 <% include ../partials/head %>
</head>
<body>
  <% include ../partials/header %>
  <div class="container">
  <div class="content-contain">
    <div class="col col1">
      <h2>Procurement</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti corporis repellendus, velit eligendi officia sunt nisi nam rem dicta molestias sint consectetur autem itaque magnam, eaque doloribus minus. Fuga, excepturi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore deleniti ipsam natus quia neque. Ipsum neque, laborum numquam! Recusandae nemo atque voluptatum vel tenetur quasi deserunt officia, totam eveniet, voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti corporis repellendus, velit eligendi officia sunt nisi nam rem dicta molestias sint consectetur autem itaque magnam, eaque doloribus minus. Fuga, excepturi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore deleniti ipsam natus quia neque. Ipsum neque, laborum numquam! Recusandae nemo atque voluptatum vel tenetur quasi deserunt officia, totam eveniet, voluptas. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti corporis repellendus, velit eligendi officia sunt nisi nam rem dicta molestias sint consectetur autem itaque magnam, eaque doloribus minus. Fuga, excepturi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore deleniti ipsam natus quia neque. Ipsum neque, laborum numquam! Recusandae nemo atque voluptatum vel tenetur quasi deserunt officia, totam eveniet, voluptas. </p>
    </div>
      <div class="col col2">
      <h2>Business Management</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti corporis repellendus, velit eligendi officia sunt nisi nam rem dicta molestias sint consectetur autem itaque magnam, eaque doloribus minus. Fuga, excepturi.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore deleniti ipsam natus quia neque. Ipsum neque, laborum numquam! Recusandae nemo atque voluptatum vel tenetur quasi deserunt officia, totam eveniet, voluptas.</p>
    </div>
      <div class="col col3">
      <h2>Consultancy</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti corporis repellendus, velit eligendi officia sunt nisi nam rem dicta molestias sint consectetur autem itaque magnam, eaque doloribus minus. Fuga, excepturi.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore deleniti ipsam natus quia neque. Ipsum neque, laborum numquam! Recusandae nemo atque voluptatum vel tenetur quasi deserunt officia, totam eveniet, voluptas.</p>
    </div>
  </div>
</div>
  <% include ../partials/footer %>
</body>
</html>